{{define "base"}}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} MultiUniverse</title>
        <link rel='stylesheet' href='../static/css/main.css'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    </head>
    <body>
        <header>
            <h1><a href='/'>MultiUniverse</a></h1>
        </header>
        <nav>
            <div>
                <a href='/'>Домашняя страница</a>
                {{if .IsAuthenticated}}
                    <a href='/universe/create'>Новая вселенная</a>
                {{end}}
            </div>
            <div>
                <a href='/user/signup'>Регистрация</a>
                <a href='/user/login'>Войти</a>
                <form action='/user/logout' method='POST'>
                    <button>Выйти</button>
                </form>
            </div>
        </nav>
        <main>
            {{with .Flash}}
                <div class="flash">{{.}}</div>
            {{end}}
            {{template "main" .}}
        </main>
        {{template "footer" .}}
        <script src="../static/js/jquery.js" type="text/javascript"></script>
        <script src="../static/js/main.js" type="text/javascript"></script>
    </body>
</html>
{{end}}